<section>
    
<header>
    <h2><?js= header ?></h2>
</header>  

<article>
	<div id="diagram" class="diagram"></div>
 
	<script type="text/javascript">
	    var x = new joint.dia.Graph;
		window.onload = function(){
			var graph = x;	
			var paper = new joint.dia.Paper({
				el: $('#diagram'),
				width: '100%',
				height: 600,
				gridSize: 1,
				model: graph
			});	
			var uml = joint.shapes.uml;	
			
			var entList = {};
			var entities = JSON.parse('<?js= entities ?>');			
			for (var elem in entities) {
				var el;
				if (entities[elem].type == 'class') {
					el = new uml.Class( { position: entities[elem].position,
									 size: entities[elem].size,
									 name: entities[elem].name });
				} else if (entities[elem].type == 'abstract') {
					el = new uml.Abstract( { position: entities[elem].position,
									 size: entities[elem].size,
									 name: entities[elem].name });
				} else if (entities[elem].type == 'interface') {
					el = new uml.Interface( { position: entities[elem].position,
									 size: entities[elem].size,
									 name: entities[elem].name });
				}
				entList[entities[elem].name] =  el;
			};
			_.each(entList, function(c) { graph.addCell(c); });

			var relList = {};
			var relations = JSON.parse('<?js= relations ?>');			
			for (var elem in relations) {
				var el;
				if (relations[elem].type == 'generalization') {
					el = new uml.Generalization( { source: { id: entList[relations[elem].source].id }, target: { id: entList[relations[elem].target].id }});
				} else if (relations[elem].type == 'implementation') {
					el = new uml.Implementation( { source: { id: entList[relations[elem].source].id }, target: { id: entList[relations[elem].target].id }});
				} else if (relations[elem].type == 'aggregation') {
					el = new uml.Aggregation( { source: { id: entList[relations[elem].source].id }, target: { id: entList[relations[elem].target].id }});
				} else if (relations[elem].type == 'composition') {
					el = new uml.Composition( { source: { id: entList[relations[elem].source].id }, target: { id: entList[relations[elem].target].id }});
				} else if (relations[elem].type == 'association') {
					el = new uml.Association( { source: { id: entList[relations[elem].source].id }, target: { id: entList[relations[elem].target].id }});
				};
				var size = Object.keys(relList).length;
				relList[size] =  el;
			};			
			
			_.each(relList, function(r) { graph.addCell(r); });	
			
			joint.layout.DirectedGraph.layout(graph, { setLinkVertices: false });
		}
    </script>	

</article>

</section>  
