<section>
    <header>
      <h2>ProjectName</h2>
    </header>  
    <article>
      <div class="container-overview">
           <div class="description">Project brief or description.</div>
           <dl class="details">
              <dt class="tag-version">Version:</dt>
              <dd class="tag-version"><ul class="dummy"><li>1.0</li></ul></dd>
              <dt class="tag-author">Authors:</dt>
              <dd class="tag-author"><ul><li><a href="mailto:jemacchi@yahoo.com.ar">Jose Macchi</a></li></ul></dd>
          </dl>
       </div>
       <br/>
       <h3 class="subsection-title">Sprints</h3>
       <dl>
          <dt>Sprint 1</dt>
          <dd>
             <dl class="details">
              <dt class="tag-version">Progress:</dt>
              <dd class="tag-version"><ul class="dummy"><li>50 %</li></ul></dd>
              <dt class="tag-author">End date:</dt>
              <dd class="tag-author"><ul><li>2015-02-03</li></ul></dd>
             </dl>
          </dd>
          <dt><a href="module-SampleModule-SampleBClass.html">SampleBClass</a></dt>
          <dd></dd>
       </dl>
    </article>
</section>
