<section>
    
<header>
    <h2><?js= header ?></h2>
</header>  

<article>
	<div><?js= description ?></div>
	<br/>
	<div id="diagram"></div>
	
	<script type="text/javascript">
		window.onload = function(){
		    var convertedDiagram = "<?js= content ?>";
			var diagram = Diagram.parse(convertedDiagram);
			diagram.drawSVG('diagram',{theme: 'simple'});
		}
    </script>

</article>

</section>  
